* {
    margin: 0;
    padding: 0;
    font-size: 16px;
  }
  header {
    height: 10vh;
  }
  body {
    font-family: 'Arial', sans-serif;
    background-color: #000000;
    margin: 10;
    display: flex;
    justify-content: center;
    height: 100vh;
}
main {
    text-align: center;
    margin-top: 70px; /* Espaçamento superior */
}

h1 {
    margin-bottom: 20px; /* Espaçamento inferior */
}

section{
    margin-top: 70px;
}

#pokemonInput {
    margin-right: 10px; /* Espaçamento à direita do input */
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input {
    padding: 8px;
    margin-right: 8px;
}

button {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#pokemonDetails {
    margin-top: 20px;
}

form{
    margin: 20px;
    display: flex;
    flex-direction: column;
    
}

form input{
    padding: 10px;
    border: none;
}

form button{
    padding: 5px 10px;
    cursor: pointer;
}

div.lista{
    margin-top: 10px;
    padding: 5px;
    display: flex;
}

.pokemon-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.pokemon-card img {
    max-width: 100px;
    max-height: 100px;
}